BODY {
	COLOR: #ffffff;
	FONT-FAMILY: sans-serif;
	FONT-SIZE: 12px;
	BACKGROUND-COLOR: #004671;
}

TD {
	FONT-FAMILY: sans-serif;
	FONT-SIZE: 12px;
}

A:LINK, A:VISITED, A:ACTIVE {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;
}
A:HOVER {
	COLOR: #037BB6;
	TEXT-DECORATION: none;
}