<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>
<form method="post" action="avatar.php" ENCTYPE="multipart/form-data">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="sid" value="$session[hash]">
<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="95%" align="center">
  <tr class="tblhead">
   <td colspan=2>Add Avatar</td>
  </tr>
   $avatar_error
  <tr class="firstrow">
   <td><b>File:</b><br>Select the avatar you want to upload.</td>
   <td><input type="file" name="avatar_file"></td>
  </tr>
    <tr class="secondrow">
   <td><b>User Group:</b><br>Which user group can use this avatar?</td>
   <td><select name="groupid">
   <option value="0" SELECTED>All Groups</option>
   $avatar_groupsbit 
   </select></td>
  </tr>
  <tr class="firstrow">
   <td><b>Required Posts:</b><br>How many posts does a member need to have the right to use this avatar?</td>
   <td><input type="text" name="needposts" value="" maxlength="7"></td>
  </tr>
  <tr class="secondrow">
   <td colspan=2 align="center"><input type="submit" value="Submit"> <input type="reset" value="Reset"></td>
  </tr>
 </table>
</form>
</body>
</html>