<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="avatar.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="del">
<input type="hidden" name="avatarid" value="$_REQUEST[avatarid]">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="95%" align="center">
  <tr class="tblhead">
   <td colspan=3>Avatar: Delete "$row[avatarname].$row[avatarextension]"</td>
  </tr>
  <tr>
   <td rowspan="2" class="secondrow">$avatarimage</td>
   <td width="75%" class="firstrow">Are you sure you want to delete this avatar?</td>
   <td width="25%" class="secondrow"><input type="submit" value="Yes"> <input type="button" value="No" onclick="history.back();"></td>
  </tr>
 </table>
</form>
</body>
 </html>