<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>
<form method="post" action="avatar.php">
<input type="hidden" name="sid" value="$session[hash]">
<input type="hidden" name="action" value="view">
<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="95%" align="center">
 <tr class="tblhead">
  <td colspan="6">Edit Avatars</td>
 </tr>
 <tr class="tblsection" align="center">
  <td>Avatar</td>
  <td width="50%">Avatar Name</td>
  <td width="35%">Group</td>
  <td>Required Posts</td>
  <td>Edit</td>
  <td>Delete</td>
 </tr>
  $avatar_viewbit
<tr class="tblsection" align="center">
<td colspan="6">
<normalfont>
Showing Avatars $countfrom to $countto of $avatarcount
</font><br>
<smallfont>
$pagelink
</font>
</td>
</tr>
<tr align="center" class="tblsection">
<td colspan="6">
<form action="avatar.php" method="get">
<input type="hidden" name="action" value="view">
<input type="hidden" name="sid" value="$session[hash]">
<select name="sortby">
<option value="0"$sel_sortby[0]>Show ACP Avatars</option>
<option value="1"$sel_sortby[1]>Show User Avatars</option>
</select>
&nbsp;
<select name="orderby">
<option value="ASC"$sel_orderby[ASC]>Sort Ascending</option>
<option value="DESC"$sel_orderby[DESC]>Sort Descending</option>
</select>
&nbsp;
<input type="submit" value="Go">
</td>
</tr></form>
</table>
</body>
</html>