<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>
<form method="post" action="board.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 width="98%" class="tblborder" align="center">
  <tr class="tblhead">
   <td colspan=2>» Add Forum</td>
  </tr>
  <tr class="tblsection">
   <td colspan=2>» General Settings</td>
  </tr>
  <tr class="firstrow">
   <td><b>Title:</b></td>
   <td><input type="text" name="title" maxLength="70"></td>
  </tr>
  <tr class="secondrow">
   <td valign="top"><b>Description:</b></td>
   <td><textarea rows="6" cols="55" wrap="virtual" name="description"></textarea></td>
  </tr>
  <tr class="tblsection">
   <td colspan=2>» Forum Specifications</td>
  </tr>
  <tr class="firstrow">
   <td><b>Forum Type:</b></td>
   <td><select name="isboard">
    <option value="1">Forum</option>
    <option value="0">Category</option>
   </select></td>
  </tr>
  <tr class="secondrow">
   <td><b>Forum Parent:</b></td>
   <td><select name="parentid">
    <option value="0">none</option>
    $parentid_options
   </select></td>
  </tr>
  <tr class="firstrow">
   <td><b>Closed Forum?</b><br>(No new threads/posts may be started.)</font></td>
   <td><select name="closed">
    <option value="1">Yes</option>
    <option value="0" selected>No</option>
   </select></td>
  </tr>
  <tr class="tblsection">
   <td colspan=2>» Access Rights</td>
  </tr>
  <tr class="secondrow">
   <td><b>Hide Forum?</b></td>
   <td><select name="invisible">
    <option value="1">Yes</option>
    <option value="0" selected>No</option>
   </select></td>
  </tr>
  <tr class="firstrow">
   <td valign="top"><b>Read:</b><br>Which user groups may read threads in this forum?</td>
   <td>
    <select name="boardpermission[]" size=5 multiple>
     <option value="*">#ALL GROUPS#</option>
     $groupoptions
    </select><br>
    (Hold the "Ctrl/Shift" key and click to select multiple groups.)</td>
   </tr>
   <tr class="secondrow">
    <td valign="top"><b>Write - Threads:</b><br>Which user groups may start new threads in this forum?</td>
    <td><select name="startpermission[]" size=5 multiple>
     <option value="*">#ALL GROUPS#</option>
     $groupoptions
    </select><br>
    (Hold the "Ctrl/Shift" key and click to select multiple groups.)</td>
   </tr>
   <tr class="firstrow">
    <td valign="top"><b>Write - Replies:</b><br>Which user groups may post new replies in this forum?</b></font></td>
    <td width="50%"><select name="replypermission[]" size=5 multiple>
     <option value="*">#ALL GROUPS#</option>
     $groupoptions
    </select><br>
    (Hold the "Ctrl/Shift" key and click to select multiple groups.)</td>
   </tr>
   <tr class="tblsection">
    <td colspan=2>» Other Options</td>
   </tr>
   <tr class="secondrow">
    <td><b>Allow BBCode?</b></td>
    <td><select name="allowbbcode">
     <option value="1">Yes</option>
     <option value="0">No</option>
    </select></td>
   </tr>
   <tr class="firstrow">
    <td><b>Allow Images?</b></td>
    <td><select name="allowimages">
     <option value="1">Yes</option>
     <option value="0">No</option>
    </select></td>
   </tr>
   <tr class="secondrow">
    <td><b>Allow HTML?</b></td>
    <td><select name="allowhtml">
     <option value="1">Yes</option>
     <option value="0" selected>No</option>
    </select></td>
   </tr>
   <tr class="firstrow">
    <td><b>Allow Smilies?</b></td>
    <td><select name="allowsmilies">
     <option value="1">Yes</option>
     <option value="0">No</option>
    </select></td>
   </tr>
   <tr class="secondrow">
    <td><b>Allow Icons?</b></td>
    <td><select name="allowicons">
     <option value="1">Yes</option>
     <option value="0">No</option>
    </select></td>
   </tr>
   <tr class="firstrow">
    <td><b>Threads Display:</b></td>
    <td><select name="daysprune">
     <option value="0">Forum Default</option>
     <option value="1">Show threads from the last day</option>
     <option value="2">Show threads from the last 2 days</option>
     <option value="5">Show threads from the last 5 days</option>
     <option value="10">Show threads from the last 10 days</option>
     <option value="20">Show threads from the last 20 days</option>
     <option value="30">Show threads from the last 30 days</option>
     <option value="45">Show threads from the last 45 days</option>
     <option value="60">Show threads from the last 60 days</option>
     <option value="75">Show threads from the last 75 days</option>
     <option value="100">Show threads from the last 100 days</option>
     <option value="365">Show threads from the last year</option>
     <option value="1000">Show all threads</option>
    </select></td>
   </tr>
   <tr class="secondrow">
    <td><b>Threads per page:</b><br>(0 = Forum Default)</td>
    <td><input type="text" name="threadsperpage" maxLength="3" value="0"></td>
   </tr>
   <tr class="firstrow">
    <td><b>Replies per page:</b><br>(0 = Forum Default)</td>
    <td><input type="text" name="postsperpage" maxLength="3" value="0"></td>
   </tr>
   <tr class="secondrow">
    <td><b>Posts Order:</b><br>(in a thread)</td>
    <td><select name="postorder">
     <option value="1">Newest first</option>
     <option value="0" selected>Oldest first</option>
    </select></td>
   </tr>
   <tr class="firstrow">
    <td><b>Replies needed for becoming a hot thread:</b><br>(0 = Forum Default)</td>
    <td><input type="text" name="hotthread_reply" maxLength="3" value="0"></td>
   </tr>
   <tr class="secondrow">
    <td><b>Views needed for becoming a hot thread:</b><br>(0 = Forum Default)</td>
    <td><input type="text" name="hotthread_view" maxLength="5" value="0"></td>
   </tr>
   <tr class="tblsection">
    <td colspan=2>» Password Protect</td>
   </tr>
   <tr class="secondrow">
    <td><b>Password:</b></td>
    <td><input type="password" name="password" maxLength="25"></td>
   </tr>
   <tr class="tblsection">
    <td colspan=2>» Set Moderators</td>
   </tr>
   <tr class="firstrow">
    <td valign="top"><b>Moderators for this Forum:</b></td>
    <td><select name="boardmods[]" size="6" multiple>
     $mod_options
    </select><br>
    (Hold the "Ctrl/Shift" key and click to select multiple moderators.)
    </td>
   </tr>
   <tr class="tblsection">
    <td colspan=2><b>» Style Options</b></td>
   </tr>
   <tr class="secondrow">
    <td><b>Style for this forum:</b></td>
    <td><select name="style_set">
     <option value="">Default Style</option>
     $style_options
    </select></td>
   </tr>
   <tr class="firstrow">
    <td colspan=2 align="center"><input type="submit" value="Submit"> <input type="reset" value="Reset"></td>
   </tr>
  </table>
 </form>
</body>
</html>