<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="board.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="95%" align="center">
  <tr class="tblhead">
   <td colspan="$maxcolspan">Edit Forums</td>
 </tr>
  $boardlist
 <tr class="tblsection">
  <td colspan="$maxcolspan" align="center"><input type="submit" value="Sort Forums"> <input type="button" value="Synchronize" onclick="window.location.href='board.php?action=sync&sid=$session[hash]'"></td>
 </tr>
 </table>
</form>
</body>
</html>