<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="board.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="boardid" value="$boardid">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
  <tr class="tblhead">
   <td colspan=4>Forum "$board[title]" Rights</td>
  </tr>
  <tr class="tblsection">
   <td colspan=4>The following users have these access rights for the forum "$board[title]":</td>
  </tr>
  $userbit
 </table>
</form>
</body>
</html>