<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="board.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="boardid" value="$boardid">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="95%" align="center">
  <tr class="tblhead">
   <td colspan=2>Forum: Empty "$board[title]"</td>
  </tr>
  <tr>
   <td class="firstrow">Are you sure you want to empty this forum?</td>
   <td class="secondrow"><input type="submit" value="Yes"> <input type="button" value="No" onclick="history.back();"></td>
  </tr>
 </table>
</form>
</body>
</html>