<HTML>
<HEAD>
<title>WoltLab Burning Board Lite - Admin Control Panel</title>
</HEAD>
<FRAMESET border=0 COLS="*,2,270" border="0" frameborder="no" framespacing="0">
		<FRAMESET border=0 ROWS="20,*" border="0" frameborder="no" framespacing="0">
			<FRAME name="top" src="misc.php?action=top&sid=$session[hash]" marginwidth="0" marginheight="0"  scrolling="no" noresize>
			<FRAME name="main" src="welcome.php?sid=$session[hash]" scrolling="auto" frameborder="no">
		</FRAMESET>
		<FRAME name="slice" src="misc.php?action=slice&sid=$session[hash]" scrolling="no" noresize>
		<FRAMESET border=0 ROWS="115,*,0" border="0" frameborder="no" framespacing="0">
			<FRAME name="logo" src="misc.php?action=logo&sid=$session[hash]" marginwidth="0" marginheight="0"  scrolling="no" noresize>
			<FRAME name="menue" src="misc.php?action=menue&sid=$session[hash]" scrolling="auto" noresize>
			<FRAME name="working" src="misc.php?action=working&sid=$session[hash]" marginwidth="0" marginheight="0" scrolling="no" noresize>
		</FRAMESET>
	</FRAMESET>
</HTML>


