<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
 <tr class="tblhead">
  <td colspan="5">Edit User Groups</td>
 </tr>
 <tr class="tblsection" align="center">
  <td>Group Name</td>
  <td>Edit</td>
  <td>Delete</td>
  <td>Forum Rights</td>
  <td>Users</td>
 </tr>
  $group_viewbit
</table>
</body>
</html>