<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>
<form method="post" action="icon.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="sid" value="$session[hash]">
<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="95%" align="center">
  <tr class="tblhead">
   <td colspan=2>Add Icon</td>
  </tr>
  <tr class="firstrow">
   <td><b>Icon Name:</b></td>
   <td><input type="text" name="icontitle" value="" maxlength="100"></td>
  </tr>
  <tr class="secondrow">
   <td><b>Path:</b><br>Enter the URL of the icon.<br>
Tip: Use "{imagefolder}" instead of the images folder so you can use different icon sets for every design packs.</td>
   <td><input type="text" name="iconpath" value="" maxlength="250" size="30"></td>
  </tr>
  <tr class="firstrow">
   <td><b>Sorting Number:</b><br>The number for order in which the icons are sorted. You can view the sorting number of the other icons in "Edit Icons".</td>
   <td><input type="text" name="iconorder" value="" maxlength="7"></td>
  </tr>
  <tr class="secondrow">
   <td colspan=2 align="center"><input type="submit" value="Submit"> <input type="reset" value="Reset"></td>
  </tr>
 </table>
</form>

</body>

</html>