<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
 <tr class="tblhead">
  <td colspan="7">Edit Styles</td>
 </tr>
 <tr class="tblsection" align="center">
  <td>Style Name</td>
  <td>Design Pack</td>
  <td>Edit</td>
  <td>Delete</td>
  <td>Export</td>
  <td>Default</td>
 </tr>
 $stylebit
</table>
<table width="100%">
 <tr>
  <td align="right">* Current Default</td>
 </tr>
</table>
</body>
</html>