<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>
 <form method="post" action="style.php" enctype="multipart/form-data">
 <input type="hidden" name="sid" value="$session[hash]">
 <input type="hidden" name="action" value="import">
  <table cellpadding=4 cellspacing=1 width="100%" class="tblborder" align="center">
   <tr class="tblhead">
    <td colspan=2>Import Style</td>
   </tr>
   <tr class="tblsection">
    <td colspan=2><input type="radio" name="mode" value="local"> From a Local File</td>
   </tr>
   <tr class="firstrow">
    <td><b>Path to file:</b> (from the acp folder)</td>
    <td><input type="text" name="stylefile" value="bb1.style"></td>
   </tr>
   <tr class="tblsection">
    <td colspan=2><input type="radio" name="mode" value="upload" CHECKED> HTTP Upload</td>
   </tr>
   <tr class="secondrow">
    <td><b>Select the file from your computer:</b></td>
    <td><input type="file" name="uploadfile"></td>
   </tr>
   <tr class="firstrow">
    <td colspan=2 align="right"><input type="submit" value="Import >>"></td>
   </tr>
  </table>
 </form>
 <form method="post" action="style.php">
 <input type="hidden" name="sid" value="$session[hash]">
 <input type="hidden" name="action" value="export">
  <table cellpadding=4 cellspacing=1 width="100%" class="tblborder" align="center">
   <tr class="tblhead">
    <td colspan=2>Export Style</td>
   </tr>
   <tr class="firstrow">
    <td>Style:</td>
    <td><select name="styleid">$style_options</select></td>
   </tr>
   <tr class="secondrow">
    <td colspan=2 align="right"><input type="submit" value="Export >>"></td>
   </tr>
  </table>
 </form>
</body>
</html>