<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="style.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="styleid" value="$styleid">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="95%" align="center">
  <tr class="tblhead">
   <td colspan=2>Style: Delete "$style[stylename]"</td>
  </tr>
  <tr>
   <td class="firstrow">Are you sure you want to delete this style?</td>
   <td class="secondrow"><input type="submit" value="Yes"> <input type="button" value="No" onclick="history.back();"></td>
  </tr>
 </table>
</form>
</body>
</html>