<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">

<script language="javascript">
 <!--
  function sync() {
   storage = parent.storage.document.sform.storage;
   for(i=0;i<storage.length;i++) {
    if(storage.options[i].selected) {
     if(document.bbform.userids.value!='') document.bbform.userids.value+=','+storage.options[i].value;
     else document.bbform.userids.value=storage.options[i].value;
    }
   }
   if(document.bbform.userids.value!='') document.bbform.submit();
   else alert('You haven\'t selected anything.');
  }
 //-->
</script>

</head>

<body onload="sync();">
<form method="post" action="misc.php" name="bbform">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="sync">
<input type="hidden" name="sid" value="$session[hash]">
<input type="hidden" name="userids" value="">
</form>
</body>
</html>
