<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">

<script language="Javascript">
 <!--
  function select_all(status) {
   var sbox = document.bbform.elements[2];
   for(i=0;i<sbox.options.length;i++) sbox.options[i].selected=status;
  }
 //-->
</script>

</head>
<body>
 <form method="post" action="users.php" name="bbform">
 <input type="hidden" name="action" value="$action">
 <input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 width="100%" class="tblborder" align="center">
  <tr class="tblhead">
   <td colspan=2>» Users in Storage</td>
  </tr>
  <tr class="firstrow">
   <td width="70%"><select name="userid[]" size=$sboxsize style="width:95%" multiple>
    $users
   </select></td>
   <td width="30%" valign="top" style="text-align:justify"><p>&nbsp;</p>
    <p>You can select members on the left of this page and then choose an action.</p>
    <p>(Hold the "Ctrl/Shift" key and click to select multiple users.)</p>
    <p><a href="javascript:select_all(true);">select all users</a></p>
    <p><a href="javascript:select_all(false);">unselect all users</a></p>
    </td>
  </tr>
 </table>
 <table align="right">
 <tr>
  <td><select name="action">
   <option value="-1">Choose an action...</option>
   <option value="email">send email</option>
   <option value="delete">delete</option>
   <option value="access">set rights</option>
   <option value="activate">activate</option>
   <option value="selectstats">show statistics</option>
  </select> <input type="submit" value="Go"></td>
 </tr>
</table></form>
</body>
</html>