<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="users.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="userids" value="$userids">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="95%" align="center">
  <tr class="tblhead">
   <td colspan=2>Delete Users</td>
  </tr>
  <tr>
   <td class="firstrow">Are you sure you want to delete this user?<br>$users</td>
   <td class="secondrow" nowrap><input type="submit" value="Yes"> <input type="button" value="No" onclick="window.location.href='users.php?action=find&sid=$session[hash]';"></td>
  </tr>
 </table>
</form>
</body>
</html>