<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">

<script language="javascript">
 <!--
  function getmail() {
   var mform=parent.main.document.bbform;
   var mailform=document.mailform;
   
   mailform.userids.value=mform.userids.value;
   mailform.subject.value=mform.subject.value;
   mailform.message.value=mform.message.value;
   
   if(mform.emailtype[1].checked) mailform.emailtype.value="html";
   
   parent.main.location.href='users.php?sid=$session[hash]&action=emailsend';
   mailform.submit();
  }
 //-->
</script>
</head>

<body>
<form name="mailform" method="post" action="otherstuff.php">
<input type="hidden" name="action" value="email">
<input type="hidden" name="sid" value="$session[hash]">
<input type="hidden" name="userids" value="">
<input type="hidden" name="subject" value="">
<input type="hidden" name="message" value="">
<input type="hidden" name="emailtype" value="text">
</form>
<script type="text/javascript">
 <!--
 getmail();
 //-->
</script>
</body>
</html>